# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# CocoaPods
SolutionDemo/Pods/
SolutionDemo/Podfile.lock

# xcworkspace (由 pod install 生成)
SolutionDemo/SolutionDemo.xcworkspace/

# xcodegen
SolutionDemo/project.yml
